.Cart1 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  // padding: 10px;
  margin: auto;

  img {
    height: 100%;
    width: 100%;
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-decoration: underline;

  h2 {
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* For devices with a max width of 1200px */
@media (max-width: 1200px) {
  .heading {
    font-size: 2.5em;
  }
}

/* For devices with a max width of 992px */
@media (max-width: 992px) {
  .heading {
    font-size: 2em;
  }
}

/* For devices with a max width of 768px */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5em;
  }
}

/* For devices with a max width of 576px */
@media (max-width: 576px) {
  .heading {
    font-size: 1.2em;
  }
}

/* For devices with a max width of 400px */
@media (max-width: 400px) {
  .heading {
    font-size: 1em;
  }
}
