// CombinedComponent.scss

.combined-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 4em;
  gap: 4em;

  .remove {
    border: none;
    background-color: red;
    border-radius: 10px;
    margin-top: 1rem;
    height: 30px;
    width: 30%;

    &:hover {
      color: black;
      background-color: white;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .price-range {

    flex-direction: column;
    align-items: center;
    background-color: #3a3838;
    color: #fff;
    padding: 20px;
    border-radius: 1px;
    width: 100%;
    max-width: 250px;
    height: 28vh;


    .price-range-header {

      justify-content: center;
      align-items: center;
      gap: 2em;
      width: 80%;
      margin-bottom: 20px;
      font-weight: bold;
    }

    input[type="range"] {
      width: 100%;
      margin: 10px 0;
    }

   

    .booking2-btn {
      display: flex;
      justify-content: center;

      .apply-btn {
        background-color: #cfc312;
        color: #000;
        border: none;
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        margin-top: 1em;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #ece9e9;
          color: rgb(44, 41, 41);
        }
      }
    }
  }

  .cart-model {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;

    .cart-card {
      background: linear-gradient(53.21deg, #d3d8aa 35.18%, #cac712d7 15.94%);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      width: 100%;
      .Continue{
       
        margin-top: 1rem;
       
        top: 343.37px;
        left: 610px;
       
        gap: 15.08px;
        border-radius: 49.39px 0px 0px 0px;
        border-radius: 12.74px;
        border: 1px solid;
        width: 120px;
        height: 38px;
        font-size: medium;
        font-weight:700 ;
        font-family: Raleway;
        background-color: transparent;
        opacity: 0px;


        &:hover{
          background-color: white;
        }
  
      }

      @media (min-width: 768px) {
        flex-direction: row;
      }

      .cart-image {
        width: 100%;
        height: auto;

        @media (min-width: 768px) {
          width: 50%;
        }
      }

      .cart-details {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: end;
        margin-left: 3em;

        @media (min-width: 768px) {
          width: 50%;
          text-align: left;
          align-items: flex-start;
        }

        .cart-passengers {
          font-size: 1.2em;
          font-weight: 500;
        }

        .cart-name,
        .cart-price,
        .cart-rating {
          margin: 5px 0;
          font-weight: 600;
          font-size: 1.5em;
        }

        .continue-button {
          background-color: #383835;
          border: 1px solid black;
          color: white;
          padding: 12px 15px;
          border-radius: 50px;
          cursor: pointer;
          margin-top: 18px;
          font-weight: 600;

          &:hover {
            background-color: #e0e031;
            color: rgb(46, 44, 44);
          }
        }
      }
    }
  }
}