@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$font-family: 'Raleway', sans-serif;

.invoice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  flex-wrap: wrap;
  flex-direction: column;

  .icon-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;


    .image {
      width: 100%;
      height: 100%;
      padding-bottom: 2%;
      max-width: 40%;
    }
  }

  .details-section1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-family: "Raleway", sans-serif;
    gap: 20px;
    flex-wrap: wrap;

    p {
      margin: 0.5em 0;
      font-size: 1em;

      strong {
        font-weight: 700;
      }
    }

    .invoice-button {
      padding: 0.75em 1.5em;
      border: none;
      border-radius: 25px;
      background-color: #b2b728;
      color: #333;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 2em;

      &:hover {
        background-color: #a0a51e;
      }
    }
  }

  .next-button {
    background-color: #b4af00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 19px;
    cursor: pointer;
    width: 30%;
    margin-top: 2em;
    transition: background-color 0.3s;

    &:hover {
      background-color: #333;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 1em;

    .icon-section {
      img {
        width: 50%; // Adjust the size for smaller screens
      }
    }

    .details-section {
      width: 100%;
      align-items: center;

      p {
        font-size: 0.9em; // Adjust the font size for smaller screens
      }

      .invoice-button {
        font-size: 0.9em; // Adjust the button size for smaller screens
      }
    }
  }

  @media (max-width: 480px) {
    padding: 0.5em;

    .icon-section {
      img {
        width: 60%; // Adjust the size for smaller screens
      }
    }

    .details-section {
      p {
        font-size: 0.8em; // Adjust the font size for very small screens
      }

      .invoice-button {
        font-size: 0.8em; // Adjust the button size for very small screens
      }
    }
  }
}

.note {
  .note-content {
    font-style: italic;
    color: red !important;
    padding: 0 1% !important;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}