@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$font-family: 'Raleway', sans-serif;
.login-img{
    width: 100%;
    border: 1px solid goldenrod;
    border-top-left-radius: 50%;
}

.login-container {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 10px;
    font-family: Raleway;

    .login {
        font-family: Raleway;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2;
        text-align: center;
        // margin-bottom: 1.5rem;
        // margin-top: 4rem;
        text-decoration:underline;
        // margin-right: 4rem;
    }
    h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 3.5em;
        margin-top: 20px;
        font-weight: 500;
    }

    .form-group {
        margin-bottom: 15px;
        font-family: Raleway;
        font-size: 15.64px;
        font-weight: 300;
        line-height: 38.97px;
        text-align: left;
        color:  #302f2f;


        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 8px;
            border-radius: 50px;
        }
    }

    .remember-me {
        display: flex;
        justify-content: space-around;
        align-items: start;

        input[type="checkbox"] {
            margin-right: 1px;
            width: 1em;
        }
    }


    .login-button {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        padding: 0.5em;

        button {
            width: 50%;
            padding: 10px;
            background-color: #b4af00;
            border: none;
            border-radius: 50px;
            font-weight: 400;
            cursor: pointer;
            // margin-right: 4em;
            font-size: 1.2em;

            &:hover {
                background-color:rgb(49, 48, 48);
                color: white;
            }
        }
    }

    .additional-options {
        text-align: center;
        margin-top: 10px;
        // margin-right: 4em;

        p {
            margin: 10px 10px;
            

            a {
                color: rgba(187, 188, 50, 1);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        img{
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .login-container {
        padding: 15px;

        h2 {
            font-size: 1.5em;
        }

        .form-group {
            label {
                font-size: 0.9em;
            }

            input {
                padding: 8px;
            }
        }

        button {
            padding: 8px;
            font-size: 0.9em;
        }

        .additional-options {
            p {
                font-size: 0.9em;

                a {
                    font-size: 0.9em;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 10px;
        // margin-left: 15%;

        h2 {
            font-size: 1.2em;
        }

        .form-group {
            label {
                font-size: 0.8em;
            }

            input {
                padding: 6px;
            }
        }

        button {
            padding: 6px;
            font-size: 0.8em;
        }

        .additional-options {
            p {
                font-size: 0.8em;

                a {
                    font-size: 0.8em;
                }
            }
        }
    }
}